
<h1 class="text-danger">@ViewBag.Mensaje</h1>
<form method="post">
    <label>Email</label>
    <input type="email" name="email" class="form-control"/>
    <label>Password</label>
    <input type="text" name="password" class="form-control" />
    <button type="submit" class="btn btn-success m-2">
        Iniciar Sesion
    </button>
</form>
