@model List<Libro>
@{
    ViewData["Title"] = "Home Page";
}


@if (Model != null)
{
    @foreach (Libro libro in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/@libro.Portada" style="width: 200px; height: 200px;" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a class="card-link" asp-controller="Libros" asp-action="DetallesLibro" asp-route-idlibro="@libro.IdLibro">@libro.NombreLibro</a></h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    }
}