@model List<Libro>
@{
    ViewData["Title"] = "Home Page";
    int numeropagina = 1;
    int numregistros = 0;
    if (ViewBag.NumeroRegistros != null)
    {
        numregistros = (int)ViewBag.NumeroRegistros;
    }
}



@if (Model != null)
{
    if(numregistros != 0)
    {
        <ul class="text-center list-group list-group-horizontal">
        @for (int i = 1; i <= numregistros; i += 3)
        {
            <li class="list-group-item list-group-item-warning">
                <a asp-controller="Home" asp-action="Index" asp-route-posicion="@i">@numeropagina </a>
            </li>
            numeropagina += 1;
        }
        </ul>
    }
   
    <div class="row">
        @foreach (Libro libro in Model)
        {
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/@libro.Portada" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a class="card-link" asp-controller="Libros" asp-action="DetallesLibro" asp-route-idlibro="@libro.IdLibro">@libro.NombreLibro</a></h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>
        }

    </div>
}
